.form-add{
    border: 1px solid black;
    width: 30%;
    height: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.labels{
    width: 100%;
}
.inputs{
    width: 100%;
}
.number-inputs-start{
    width: 30%;
    //margin-left: 10%;

}
.number-inputs-end{
    width: 30%;
    margin-left: 10%;

}
.select{
    width: 100%;
}