.container-filters{
    width: 35vw;
    position: absolute;
    top: 2%;
    left:32%;
}
.order-select{
    width: 28%;
    margin-left: 4%;
    height: 1.5vw;
}
.checkbox-list-container-temps{
    border: 1px solid black;
    width: 26%;
    height: 10vw;
    position: absolute;
    background-color: rgb(78, 77, 77);
    //display: none;
    left: 44%;
    top: 105%;
    overflow-y: scroll;
    z-index: 10;
    color: $color4;
}
.checkbox-list-temps{
    height: auto;
}
.temperaments{
    position: absolute;
    top:-15%;
    left: 42%;
    width: 30%;
    background-color: $color3;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 1vw;
    border-radius: 15px; 
    border: transparent;
    cursor: pointer;
    color: black;
}
.temps-label{
    font-family: Roboto, sans-serif;
}
.source{
    position: absolute;
    top:-15%;
    left: 74%;
    width: 30%;
    background-color: $color3;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 1vw;
    border-radius: 15px; 
    border: transparent;
    cursor: pointer;
    color: black;
}
.checkbox-list-container-source{
    border: 1px solid black;
    width: 26%;
    height: 10vw;
    position: absolute;
    background-color: rgb(78, 77, 77);
    //display: none;
    left: 76%;
    top: 105%;
    overflow-y: scroll;
    z-index: 10;
    color: $color4;
}
.checkbox-list-source{
    height: auto;
}
.options{
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
}